---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import localPhoto from '../../images/photo.png';
import Sidebar from '../components/Sidebar.astro';
import Resume from '../components/Resume.astro';

const currentSite = 'resume'
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-center ">
		<div class="flex gap-5 bg-black p-2 w-fit">
			<div class="bg-white flex flex-shrink-0">
				<Image src={localPhoto} alt="Self-Photo" width="300" height="200" />
			</div>
			<Resume/>
			<Sidebar currentSite={currentSite}/>
		</div>
	</main>
</Layout>