---

---

<div class="flex bg-black flex-col w-screen max-w-5xl p-2 justify-center gap-14">
    <div class="w-fit">
        <h1 class="text-[#0369a1] uppercase font-semibold text-5xl w-fit">I'am Patryk Skierkowski</h1>
        <p class="text-white uppercase font-semibold text-5xl w-fit">FullStack Developer</p>
    </div>
    <div class="w-fit">
        <p class="text-white  capitalize text-md text-balance w-fit max-w-5xl">Passionate Full Stack Developer with a strong foundation in .NET and Azure Cloud technologies, I bring to the table expertise in React and a wide array of frontend frameworks. My dedication to mastering new tech trends and a problem-solving mindset enable me to deliver innovative and scalable solutions. I thrive on challenging projects that push the boundaries of digital transformation.					</p>
    </div>
    <button class="border-4 border-[#0369a1] text-white font-semibold py-2 px-4 rounded-3xl inline-flex items-center w-fit relative">
        <span class="mr-9 text-lg">More About Me</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#0369a1" class="w-14 h-14 absolute right-0 translate-x-2">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
              </svg>
      </button>
</div>