---
import Icon from "../../images/Line ver.2.svg"
import { Image } from 'astro:assets';
---

<div class="flex">
    <div class="flex">
        <Image src={Icon} alt="" height="400"/>
    </div>
    <div class="flex">
        <span class="text-white align-middle text-center">LTIMindtree</span>
    </div>
</div>