<div class="flex bg-black flex-col w-screen max-w-5xl p-2 justify-evenly">
    <div class="flex justify-center">
        <span class="text-white text-center text-2xl uppercase font-semibold ">Click on button to dowload my resume</span>
    </div>
    <div class="w-full items-center">
        <button class="flex border-2 border-white w-4/5 h-16 items-center justify-center m-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
              </svg>
              
        </button>
    </div>
</div>